<%- include("partials/header.ejs") %>
<hr>



    <% post.forEach((po) => { %>
    <li>
      <div class="story-container">
        <h2 class="story-title"><%= po.title %></h2>
        <p class="story-author-date">By <%= po.author %> - <%= po.date %></p>
        <div class="story-content"><%= po.content %></div>
      </div>
    </li>
    <% }); %>





<hr>


<%- include("partials/footer.ejs") %>